.projects-content-container {
   position: absolute;
   width: 100%;
   height: 90%;
   left: calc(50% - 47%);
   top: 5%;
   overflow-y: auto;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-end;
}