.landing-page-container {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-bottom: 50px;
   position: relative;
   z-index: 200;


   &.cmyk {
      background-color: var(--white);
   }

   &.bw {
      background-color: var(--black);
   }

   .landing-page-text-container {

      .landing-page-heading {
         width: 370px;
         height: 60px;
         background: transparent;
         text-align: center;
         line-height: 60px;
         font-size: 30px;
         font-weight: bold;
         letter-spacing: 2px;
         position: relative;
         cursor: pointer;
         transition: all 0.2s;
         z-index: 10;

         .landing-page-link {
            &.cmyk {
               color: var(--black);
               &:hover {
                  color: magenta;
               }
            }
            &.bw {
               color: var(--black);
               &:hover {
                  color: var(--white);
               }
            }
         }

         &.cmyk {
            color: var(--black);

            &:before {
               content: "";
               position: absolute;
               top: -5px;
               left: -5px;
               width: 100%;
               height: 100%;
               background-color: cyan;
               z-index: -1;
               mix-blend-mode: multiply;
               transition: all 0.2s;
               transform-origin: top;
            }

            &:after {
               content: "";
               position: absolute;
               top: 5px;
               left: 5px;
               width: 100%;
               height: 100%;
               background-color: yellow;
               z-index: -1;
               mix-blend-mode: multiply;
               transition: all 0.2s;
               transform-origin: bottom;
            }

            &:hover {
               color: magenta;
               &::before {
                  top: -6px;
                  left: 0;
                  transform: perspective(1000px) rotateX(75deg);
               }
            
               &::after {
                  top: 6px;
                  left: 0;
                  transform: perspective(1000px) rotateX(-75deg);
               }
            }
         }
         &.bw {
            color: var(--black);

            &:before {
               content: "";
               position: absolute;
               top: -5px;
               left: -5px;
               width: 100%;
               height: 100%;
               background-color: var(--grey);
               opacity: 0.8;
               z-index: -1;
               mix-blend-mode: multiply;
               transition: all 0.2s;
               transform-origin: top;
            }

            &:after {
               content: "";
               position: absolute;
               top: 5px;
               left: 5px;
               width: 100%;
               height: 100%;
               background-color: var(--white);
               z-index: -1;
               mix-blend-mode: multiply;
               transition: all 0.2s;
               transform-origin: bottom;
            }

            &:hover {
               color: var(--white);
               &::before {
                  top: -6px;
                  left: 0;
                  transform: perspective(1000px) rotateX(75deg);
               }
            
               &::after {
                  top: 6px;
                  left: 0;
                  transform: perspective(1000px) rotateX(-75deg);
               }
            }
         }

      }

      .sub-heading-container {
         display: flex;
         flex-direction: row;
         justify-content: center;

         .sub-heading {
            margin: 0 5px;
            cursor: default;

            &.cmyk {
               color: var(--black);
               &.left {
                  position: relative;
            
                  &::before {
                     position: absolute;
                     content: '';
                     width: 15px;
                     height: 15px;
                     border-radius: 50px;
                     background-color: cyan;
                     top: 5px;
                     left: -30px;
                     opacity: 0.8;
                  }
            
                  &::after {
                     position: absolute;
                     content: '';
                     width: 15px;
                     height: 15px;
                     border-radius: 50px;
                     background-color: magenta;
                     top: 5px;
                     left: -23px;
                     opacity: 0.7;
                  }
               }
            
               &.right {
                  position: relative;
            
                  &::before {
                     position: absolute;
                     content: '';
                     width: 15px;
                     height: 15px;
                     border-radius: 50px;
                     background-color: yellow;
                     top: 5px;
                     right: -30px;
                  }
            
                  &::after {
                     position: absolute;
                     content: '';
                     width: 15px;
                     height: 15px;
                     border-radius: 50px;
                     background-color: cyan;
                     top: 5px;
                     right: -23px;
                     opacity: 0.7;
                  }
               }
            }

            &.bw {
               color: var(--white);
               &.left {
                  position: relative;
            
                  &::before {
                     position: absolute;
                     content: '';
                     width: 15px;
                     height: 15px;
                     border-radius: 50px;
                     background-color: var(--grey);
                     top: 5px;
                     left: -30px;
                     opacity: 0.7;
                  }
            
                  &::after {
                     position: absolute;
                     content: '';
                     width: 15px;
                     height: 15px;
                     border-radius: 50px;
                     background-color: var(--white);
                     top: 5px;
                     left: -23px;
                  }
               }
            
               &.right {
                  position: relative;
            
                  &::before {
                     position: absolute;
                     content: '';
                     width: 15px;
                     height: 15px;
                     border-radius: 50px;
                     background-color: var(--white);
                     top: 5px;
                     right: -30px;
                  }
            
                  &::after {
                     position: absolute;
                     content: '';
                     width: 15px;
                     height: 15px;
                     border-radius: 50px;
                     background-color: var(--grey);
                     top: 5px;
                     right: -23px;
                     opacity: 0.7;
                  }
               }
            }

            
         }
      }

   }
}