$breakpoint-phone: 1140px;
.menu-button {
   border: none;
   font-weight: 600;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
   position: absolute;
   width: 100px;
   height: 100px;
   border-radius: 100px;
   z-index: 100;

   &.large-menu {
      width: 300px;
      height: 300px;
      border-radius: 300px;
      font-size: 25px;
   }

   &.top {
      left: 80px;
      top: 150px;

      &.cyan {
         background-color: rgba(0, 255, 255, 0.5);
         border: none;
         color: var(--black);

         &.about {
            border: 2px solid var(--black);
         }
      }

      &.gray {
         background-color: rgba(145, 145, 145, 0.5);
         border: none;
         color: var(--white);
         &.about {
            border: 2px solid var(--white);
         }
      }

      &.large-menu {
         left: calc(50% - 150px);
         top: calc(50% - 275px);
      
         @media (max-width: $breakpoint-phone) {
            top: 90px;
         }
      }

      @media (max-width: $breakpoint-phone) {
         left: 20px;
         top: 85px;
      }

      &:hover {
         letter-spacing: 1px;

         &.cyan {
            background-color: cyan;
            border: 2px solid cyan;
         }
         &.gray {
            background-color: rgb(145, 145, 145);
            border: 2px solid rgb(145,145,145);
         }
      }
   }


   &.middle {
      left: 80px;
      top: 230px;

      &.magenta {
         background-color: rgba(255, 0, 255, 0.5);
         color: var(--black);
         &.projects {
            border: 2px solid var(--black);
         }
      }

      &.dark-gray {
         background-color: rgba(64, 64, 64, 0.5);
         color: var(--white);
         &.projects {
            border: 2px solid var(--white);
         }
      }
      
      &.large-menu {
         left: calc(50% - 280px);
         top: calc(50% - 95px);
      
         @media (max-width: $breakpoint-phone) {
            top: 340px;
            left: calc(50% - 150px);
         }
      }

      @media (max-width: $breakpoint-phone) {
         left: 87px;
         top: 85px;
      }

      &:hover {
         letter-spacing: 1px;

         &.magenta {
            background-color: magenta;
            border: 2px solid magenta;
         }

         &.dark-gray {
            background-color: rgb(64,64,64);
            border: 2px solid rgb(64,64,64);
         }
      }
   }

   &.bottom {
      left: 80px;
      top: 310px;

      &.yellow {
         background-color: rgba(255, 255, 0, 0.5);
         color: var(--black);
         &.contact {
            border: 2px solid var(--black);
         }
      }
      &.light-gray {
         background-color: rgba(214, 214, 214, 0.5);
         color: var(--white);
         &.contact {
            border: 2px solid var(--white);
         }
      }

      &.large-menu {
         left: calc(60% - 140px);
         top: calc(50% - 90px);
      
         @media (max-width: $breakpoint-phone) {
            top: 580px;
            left: calc(50% - 150px);
         }
      }

      @media (max-width: $breakpoint-phone) {
         left: 150px;
         top: 85px;
      }

      &:hover {
         letter-spacing: 1px;

         &.yellow {
            background-color: yellow;
            border-color: yellow;
         }

         &.light-gray {
            background-color: var(--grey);
            border-color: var(--grey);
         }
      }
   }

   @media (max-width: $breakpoint-phone) {
      width: 70px;
      height: 70px;
      border-radius: 70px;
      font-size: 10px;
   }

   
}