.project-card-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   margin: 20px;
   margin-right: 30px;
   width: 95%;
   height: 350px;
   min-height: 350px;
   overflow: auto;

   &.cmyk {
      box-shadow: 7px 7px 8px 3px rgba(255, 0, 255, 0.3);
   }

   &.bw {
      box-shadow: 7px 7px 8px 3px rgba(64, 64, 64, 1);
   }

   .project-card-text-container {
      width: 600px;
      margin: 10px;
      &.cmyk {
         color: var(--black);
      }
      &.bw {
         color: var(--white);
      }

      .project-title {
         .project-date {
            font-weight: 400;
            font-size: 15px;
            opacity: 0.5;
            margin: 0 10px;;
         }
      }
   }
   .project-card-img-container {
         min-width: 250px;
         width: 250px;
         height: 250px;
         border-radius: 250px;
         margin: 10px;
         overflow: hidden;
         position: relative;
   
         .project-card-overlay {
            position: absolute;
            content: '';
            width: 300px;
            height: 300px;
            border-radius: 300px;
            left: -30px;
            top: -20px;

            &.cmyk {
               background-color: magenta;
               opacity: 0.1;
            }

            &.bw {
               background-color: var(--white);
               opacity: 0.3;
            }
         }
   
         .project-img {
            width: 500px;
         }
      }
}