.nav-container {
   width: 100%;
   position: relative;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   overflow-y: auto;
   padding: 0 30px;

   &.cmyk {
      background-color: var(--white);
   }

   &.bw {
      background-color: var(--black);
   }

   .nav-title-container {
      background-color: transparent;
      line-height: 25px;
      cursor: pointer;

      .nav-title-link {
         transition: color 0.3s ease-in-out;
         &.cmyk {
            color: var(--black);
         }

         &.bw {
            color: var(--white);
         }

         &:hover {
            &.cmyk {
               color: magenta;
            }

            &.bw {
               color: var(--grey);
            }
         }
      }
   }

   .switch-container {
      margin: 10px 10px 20px 10px;
      height: 25px;
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .theme-switch {
         &.bw {
            .ant-switch-inner {
               background: var(--white);
            }
   
            .ant-switch-inner-checked {
               color: var(--black);
            }
   
            .ant-switch-handle {
               &::before {
                  background: var(--black);
               }
            }
         }
   
         &.cmyk {
            .ant-switch-inner {
               background: var(--black);
            }
   
            .ant-switch-inner-unchecked {
               color: var(--white);
            }
   
            .ant-switch-handle {
               &::before {
                  background: var(--white);
               }
            }
         }
      }

      .language-switch {
         &.esp {
            .ant-switch-inner {
                  background: var(--grey);
               }
            
               .ant-switch-inner-checked {
                  color: var(--black);
               }
            
               .ant-switch-handle {
                  &::before {
                     background: var(--black);
                  }
            }
         }
         &.eng {
            .ant-switch-inner {
               background: var(--black);
            }
         
            .ant-switch-inner-unchecked {
               color: var(--white);
            }
         
            .ant-switch-handle {
               &::before {
                  background: var(--white);
               }
            }
         }
      }
   }

   @media (max-width: 768px) {
      // flex-direction: column;
      align-items: center;
      padding: 0 20px;
      // border: 1px solid black;

      .nav-title-container {
         margin-bottom: 10px;
      }
   }
}