.skill-list-container {
   padding: 15px;
   margin: 10px;
   width: 320px;
   height: 430px;
   font-size: 18px;
   position: relative;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: all 0.5s ease-in-out;

   &.cyan {
      border: 2px solid rgb(0, 202, 202);
      background-color: rgba(0, 202, 202, 0.1);
   }
   &.gray {
      background-color: rgba(145, 145, 145, 0.1);
      border: 2px solid rgba(145, 145, 145, 1);
      color: var(--white);
   }

   &.magenta {
      border: 2px solid rgb(255, 0, 255);
      background-color: rgba(255, 0, 255, 0.1);
   }
   &.dark-gray {
      background-color: rgba(64, 64, 64, 0.2);
      border: 2px solid rgba(64, 64, 64, 1);
      color: var(--white);
   }

   &.yellow {
      border: 2px solid rgb(220, 220, 0);
      background-color: rgba(255, 255, 0, 0.1);
   }
   &.light-gray {
      background-color: rgba(214, 214, 214, 0.1);
      border: 2px solid rgba(214, 214, 214, 1);
      color: var(--white);
   }
   

   .wave {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: calc(100% + 22px);
      transition: all 1s;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px;

      &::before {
         content: "";
         position: absolute;
         top: -22px;
         left: 0;
         width: 100%;
         height: 22px;
         animation: wavy 0.6s linear infinite;
      }

      &.cyan {
         background-color: rgb(0, 202, 202);
         &::before {
            background: url('../../assets/imgs/cyanwave.png');
         }
      }

      &.gray {
         background-color: rgba(145, 145, 145, 1);
         &::before {
            background: url('../../assets/imgs/cyanwave.png');
         }
      }

      &.magenta {
         background-color: rgba(255, 0, 255, 1);
         &::before {
            background: url('../../assets/imgs/magentawave.png');
         }
      }

      &.dark-gray {
         background-color: rgba(64, 64, 64, 1);

         &::before {
            background: url('../../assets/imgs/cyanwave.png');
         }
      }

      &.yellow {
         background-color: rgba(220, 220, 0, 1);
         &::before {
            background: url('../../assets/imgs/yellowwave.png');
         }
      }

      &.light-gray {
         background-color: rgba(214, 214, 214, 1);

         &::before {
            background: url('../../assets/imgs/cyanwave.png');
         }
      }

      

      @keyframes wavy {
         0% { background-position-x: 0 }
         100% { background-position-x: 118px }
      }

      .list-item {
         min-width: 120px;
         margin: 0 10px;
         padding: 5px 8px;
         font-size: 15px;
         font-weight: 800;
         letter-spacing: 1px;
         text-align: center;
         border-radius: 5px;
         border: 3px solid var(--black);
         color: var(--black);
         background-color: rgba(0, 0, 0, 0.1);
      }
   }

   &:hover, &:active {
      border-radius: 20px;
      .wave {
         top: 0;
      }
   }
}